body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.topheader  {
    margin: 10px 0;
}

.carousel-inner {
    /*height: 320px;*/
}

.carousel-inner img {
    width:100%;
    height:100%;
}