body {
    padding-top: 0;
    padding-bottom: 20px;
    color: #3a3a3a;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.topheader  {
    margin: 10px 0;
}

.box-title {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.sprites {
    background: url(../img/sprites.png) no-repeat;
}

.ic-services {
    width: 25px;
    height: 25px;
    background-position: 0 -24px;
    display: inline-block;
    vertical-align: -6px;
    margin-right: 6px;
}

ul.unordered {
    padding: 5px 0px 0px 5px;
    margin: 0px;
    list-style: none;
}

ul.unordered li {
    padding: 0px 0px 0px 12px;
    margin: 7px 0px 7px 0px;
    background: url(../img/sublink_bul.gif) no-repeat 0px 6px;
    line-height: 16px;
}

ul.columnflexible 
{
    float: left;
    margin-right: 40px;
}


.msg_icon {
    width: 23px;
    height: 15px;
    background-position: 0 -50px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 8px;
}

div.no-radius {
    border-radius: 0;
}
.panel-heading span, .panel-heading a {
    color: #ffffff;
}
.rsbg {
    background: none repeat scroll 0 0 #E8ECF3;
    color: #333333;
    line-height: 14px;
    padding: 15px 10px;
}
.request-title {
    background: url(../img/rtarrow.gif) no-repeat scroll right 50% #3F6289;
}
.callus-title {
    background: url(../img/down-ar.gif) no-repeat scroll right 50% #3F6289;
}
.imgbdr {
    padding: 5px;
    border: #e7e7e7 solid 1px;
    background: #FFF;
}