body {
    padding-top: 0;
    padding-bottom: 0;
    color: #3a3a3a;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.topheader  {
    margin: 10px 0;
}

footer {
    background: #f0f0f0;
    border-top: 1px solid #d2d2d2;
    color: #464646;
    padding: 10px 0;
    overflow: hidden;
}
.footlink a {
    color: #464646;
}
.footlink span {
    padding: 0 10px;
}
.footcopyright {
    color: #464646;
    font-size: 12px;
    line-height: 17px;
    margin: 0;
    padding: 15px 0 0;
}


.query-form input, .query-form select {
    margin-right: 10px;
}

div.edit-form {
    padding: 15px 30px;
}

dt {
    margin-top: 10px;
}

.box-title {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.sprites {
    background: url(../img/sprites.png) no-repeat;
}

.ic-services {
    width: 25px;
    height: 25px;
    background-position: 0 -24px;
    display: inline-block;
    vertical-align: -6px;
    margin-right: 6px;
}

ul.unordered {
    padding: 5px 0px 0px 5px;
    margin: 0px;
    list-style: none;
}

ul.unordered li {
    padding: 0px 0px 0px 12px;
    margin: 7px 0px 7px 0px;
    background: url(../img/sublink_bul.gif) no-repeat 0px 6px;
    line-height: 16px;
}

ul.columnflexible 
{
    float: left;
    margin-right: 40px;
}


.msg_icon {
    width: 23px;
    height: 15px;
    background-position: 0 -50px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 8px;
}

.panel-default > div.right-panel-heading {
    border-radius: 0;
    background-color: #3F6289;
}
.right-panel-heading span, .right-panel-heading a {
    color: #ffffff;
}
.no-radius {
    border-radius: 0;
}

.rsbg {
    background: none repeat scroll 0 0 #E8ECF3;
    color: #333333;
    line-height: 14px;
    padding: 15px 10px;
}
.request-title {
    background: url(../img/rtarrow.gif) no-repeat scroll right 50% #3F6289;
}
.callus-title {
    background: url(../img/down-ar.gif) no-repeat scroll right 50% #3F6289;
}
.imgbdr {
    padding: 5px;
    border: #e7e7e7 solid 1px;
    background: #FFF;
}

.portbox {
    overflow: hidden;
    
}

.portleft {
    float: left;
    border: 1px solid #dedede;
    width: 264px;
}

.portright {
    margin-left: 277px;
}

.port-title {
    color: #5284bf;
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

.port-title a {
    color: #5284bf;
    font-size: 14px;
    text-decoration: none;
}

hr.dotted {
    border: 1px dotted #ccc;
    border-style: none none dotted; 
}