@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Carousel
{
    <div class="visible-sm visible-md visible-lg">
        <img src="~/img/banner-inn.jpg" style="width:100%;height:169px;" />
    </div>
}

@RenderBody()