
<h3>从这里开始: 讨论您的项目需求</h3>
<p>
    需要“新科软件”提供的开发服务，您只需要给我们一个邮件或者一个电话，我们的团队将会尽快的联系您们，以详细的讨论和了解项目需求。
    在项目需求确定之后，我们的专业开发人员将会遵循软件生命周期立即启动开发流程。
</p>
<div class="newtech-advantage">
    <h3>我们公司的优势</h3>
    <ul>
        <li>客户至上的服务理念</li>
        <li>超过10年工作经验的开发人员</li>
        <li>紧跟信息发展潮流</li>
        <li>追求卓越，永不止步</li>
        <li>多样化的专业技能和业务知识</li>
        <li>知识产权的良好保护</li>
        <li>与客户建立长期稳定的合作关系</li>
    </ul>
    <div class="inr_contact">
        <a class="contact_link" href='@Url.Action("Index", "ContactUS")'>
            <span class="icon fa fa-twitter"></span> 联系我们
        </a>
    </div>
</div>
