<ul class="tech-list">
    <li><img src="~/img/tech/microsoft-asp.net.jpg" /></li>
    <li><img src="~/img/tech/microsoft-asp.net-mvc.jpg" /></li>
    <li><img src="~/img/tech/microsoft-wpf.jpg" /></li>
    <li><img src="~/img/tech/microsoft-wcf.jpg" /></li>
    <li><img src="~/img/tech/microsoft-mvvm.jpg" /></li>
    <li><img src="~/img/tech/microsoft-sharepoint.jpg" /></li>
    <li><img src="~/img/tech/microsoft-biztalk.jpg" /></li>
    <li><img src="~/img/tech/microsoft-crm.jpg" /></li>
    <li><img src="~/img/tech/microsoft-sqlserver.jpg" /></li>
    <li><img src="~/img/tech/microsoft-ssrs.jpg" /></li>
    <li><img src="~/img/tech/microsoft-crystal-reports.jpg" /></li>
</ul>
