<ul class="tech-list">
    <li><img src="~/img/tech/android.jpg" /></li>
    <li><img src="~/img/tech/android-sdk.jpg" /></li>
    <li><img src="~/img/tech/android-studio.jpg" /></li>
    <li><img src="~/img/tech/android-sqlite.jpg" /></li>
    <li><img src="~/img/tech/android-eclipse.jpg" /></li>
    <li><img src="~/img/tech/android-netbeans.jpg" /></li>
    <li><img src="~/img/tech/android-ad.jpg" /></li>
    <li><img src="~/img/tech/android-testflight.jpg" /></li>
</ul>
