<ul class="tech-list">
    <li><img src="~/img/tech/ios.jpg" /></li>
    <li><img src="~/img/tech/ios-iCloud.jpg" /></li>
    <li><img src="~/img/tech/ios-SQLite.jpg" /></li>
    <li><img src="~/img/tech/ios-XCode.jpg" /></li>
    <li><img src="~/img/tech/ios-XcodePlugin.jpg" /></li>
    <li><img src="~/img/tech/ios-COCOAPODS.jpg" /></li>
    <li><img src="~/img/tech/ios-iAD.jpg" /></li>
</ul>
