<ul class="tech-list">
    <li><img src="~/img/tech/java.jpg" /></li>
    <li><img src="~/img/tech/java-ee.jpg" /></li>
    <li><img src="~/img/tech/java-jsp.jpg" /></li>
    <li><img src="~/img/tech/java-servlet.jpg" /></li>
    <li><img src="~/img/tech/java-swing.jpg" /></li>
    <li><img src="~/img/tech/java-spring.jpg" /></li>
    <li><img src="~/img/tech/java-hibernate.jpg" /></li>
    <li><img src="~/img/tech/java-structs.jpg" /></li>
</ul>
