<div class="panel panel-default no-radius">
    <div class="panel-heading right-panel-heading">
        <h4 class="panel-title">技术专长</h4>
    </div>
    <div class="panel-body" style="padding: 5px 10px 10px 10px;">
        <ul class="unordered">
            <li>@Html.ActionLink("公司介绍", "Company", "AboutUS")</li>
            <li>@Html.ActionLink("我们的优势", "WhyNewTech", "AboutUS")</li>
            <li>@Html.ActionLink("远景与价值", "VisionAndValue", "AboutUS")</li>
            <li>@Html.ActionLink("联系我们", "ContactUS", "AboutUS")</li>
        </ul>
    </div>
</div>