
@{
    ViewBag.Title = "愿景和价值";
}

<div class="row">
    <div class="col-md-9">
        <h3>愿景和价值</h3>
        <hr class="header-line" />
        <div class="inner-header">愿景(Vision)</div>
        <p>
            通过为全球企业提供优质的软件外包服务，来赢得客户的信任与赞赏，实现公司的成长与发展。
        </p>
        <div class="inner-header">任务(Mission)</div>
        <p class="bot-pad">
            <b>
                通过在技术上不断创新，以在全球市场提供卓越的软件服务来实现我们的目标；通过积极的知识分享、团队合作和标准的建立，来凝聚力量，创造一个和谐的人文发展环境。
                同时，这也将使我们能够增加收入，为员工提供满意的薪酬福利，使公司能够持续发展和成长。
            </b>
            <ul class="unordered">
                <li>与各种类型的客户加强合作，帮助我们建立创新的能力和理念。并伴随着业务生产力的增长，提高我们的质量标准。</li>
                <li>作为一个值得信赖和公平的商业伙伴。</li>
                <li>保证和提升工作质量，激励员工不断地向客户提供满意的软件产品。</li>
            </ul>
        </p>
        <div class="inner-header">价值(Value)</div>
        <p><b>我们致力于提供最佳的行业实践，和新兴的实用和可靠的技术解决方案。我们的专业研发团队将为客户的软件开发提供各个方面的优质服务。</b></p>
        <p>我们高度珍惜和重视所有员工与客户的互动与交流。我们对个人价值的高度重视，创造了一个透明的氛围，确保了在公司内部建立起优秀的团队合作和融洽的关系。我们承诺要达到我们的价值观。</p>
        <p class="bot-pad">
            <b>我们的价值体现在：</b>
            <ul class="unordered">
                <li>与客户发展持久的互利合作关系</li>
                <li>对知识产权的尊重与保密</li>
                <li>学习和成长的氛围</li>
                <li>团队协作</li>
                <li>独立和可靠的业务目标</li>
            </ul>
        </p>

    </div>
    <div class="col-md-3">
        @Html.Partial("_AboutUS")
        @Html.Partial("QuickLinks")
    </div>
</div>







