
@{
    ViewBag.Title = "我们的优势";
}

<div class="row">
    <div class="col-md-9">
        <h3>为何选择新科软件</h3>
        <hr class="header-line" />
        <p>
            <b>新科软件</b>为客户提供量身定制的解决方案。对于所有的项目开发，我们都会站在客户的角度上进行需求分析和编写设计蓝图。
            在软件开发生命周期（如：需求分析、设计、模型建立、实现和部署）的每一个步骤，都会与客户保持紧密的沟通与交流。确保能够及时的发现所有的问题和降低未知的风险。我们的专业开发团队拥有开发健壮、高效程序的丰富经验。
        </p>
        <p>
            在新科软件，我们是客户的知识产权、专有软件和新开发程序的保管者。客户在任何项目结束时有权保留项目的知识产权和软件的源代码。我们是您的离岸软件开发合作伙伴，并充分专注于让您的项目可以快速高效的完成，并具备足够的健壮性和良好的扩展性。。
        </p>
        <p class="clsheading">
            新科软件的软件外包服务主要具备如下优势：
        </p>
        <ul class="unordered">
            <li>为行业领先企业开发定制、集成系统的丰富经验</li>
            <li>在项目开发过程中及时、灵活地应对业务需求的更改或补充</li>
            <li>为满足项目交货日期而真诚奉献的程序员们</li>
            <li>和客户构建离岸软件开发服务的长期合作关系</li>
            <li>对客户利益最大化的承诺</li>
            <li>保护知识产权</li>
            <li>低风险的交付模式，高度可预测的系统</li>
            <li>为客户降低开发成本20%以上</li>
        </ul>
        <p>您的成功就是我们的目标</p>
        <p class="clsheading">
            团队合作是让人们获得成功的捷径。
        </p>
    </div>
    <div class="col-md-3">
        @Html.Partial("_AboutUS")
        @Html.Partial("QuickLinks")
    </div>
</div>











