<div class="panel panel-default no-radius">
    <div class="panel-heading right-panel-heading">
        <h4 class="panel-title">我们的服务</h4>
    </div>
    <div class="panel-body" style="padding: 5px 10px 10px 10px;">
        <ul class="unordered">
            <li>@Html.ActionLink("应用程序开发", "ApplicationDevelopment", "Service")</li>
            <li>@Html.ActionLink("Web网站开发", "WebDevelopment", "Service")</li>
            <li>@Html.ActionLink("系统迁移", "SoftwareMigration", "Service")</li>
            <li>@Html.ActionLink("应用程序维护", "ApplicationMaintenance", "Service")</li>
        </ul>
    </div>
</div>