@{
    ViewBag.Title = "ApplicationDevelopment";
}

<h3>我们的服务</h3>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="#a">a</a></li>
        <li><a href="#b">b</a></li>
        <li><a href="#c">c</a></li>
        <li><a href="#d">d</a></li>
        <li><a href="#e">e</a></li>
    </ul>
</nav>

<div>
    <div class="col-md-9">
        <div id="a">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
        <div id="b">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
        <div id="c">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
        <div id="d">
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
            <p>test</p>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
