
@{
    ViewBag.Title = "Proposal Succeed";
}


<div class="row">
    <div class="col-md-9">
        <h3>投标申请 | 报价咨询</h3>
        <hr class="header-line" />
        <p>
            项目需求已提交成功，我们会在第一时间与您取得联系，谢谢。
        </p>
    </div>
    <div class="col-md-3">
        @*@Html.Partial("_AboutUS")*@
        @Html.Partial("QuickLinks")
    </div>
</div>